@import url('/reset.css');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-image: url(/imgs/bg-img.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    min-height: 300vh;
    position: relative;
    z-index: -10;
    top: 0; left: 0;
    width: 100%;

    &::-webkit-scrollbar{
        display: none;
    }
}
/* dark mode */
body.dark{
    background: rgba($color: #000000, $alpha: 0.6);
    color: #fff;
}

.nav{
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 1);

    h1{
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
    }
    .hambtn{
        display: none;
    }

    .menu{
        // background-color: white;
        position: relative;
        display: inline-block;

        button{
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            margin: 10px;

            &:hover, &:focus{
                color: darkcyan;
            }
        }
        .dropdown-content{
            // border: 1px solid red;
            position: absolute;
            top: 55px;
            background-color: rgba(255, 255, 255, 0.5);
            text-align: center;
            width: 100px;
            line-height: 2rem;
            z-index: 1;
            display: none;

            a{  
                // border: 1px solid red;
                padding: 12px 16px;
                text-decoration: none;
                color: dimgray;
                font-weight: 600;
                display: block;

                &:hover{
                    background-color: darkcyan;
                    color: white;
                }
            }
        }
        .dropdown-content.dark{
            background: #333;
            a{
                color: white;
            }
        }
    }
    .search-box{
        // border: 1px solid red;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;

        input{
            width: 80%;
            height: 100%;
            margin: 0;
            padding: 0 10px;
            border-radius: 15px 0 0 15px;
            border: 1px solid #008b8b;

            &:focus{
                outline: none;
            }
        }
        button{
            margin: 0;
            height: 32px;
            border-radius: 0 15px 15px 0;
            border: 1px solid darkcyan;
            background-color: darkcyan;
            color: #fff;
            font-size: 0.7rm;
            cursor: pointer;

            &:hover{
                background-color: rgba($color: #008b8b, $alpha: 0.8);
                letter-spacing: 0.01rem;
            }
        }
        .data-list{
            border: 1px solid red;
            width: 80%;
        }

    }
    .person{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid lightgray;
            background-color: darkcyan;
            display: inline-block;
            margin: 20px;
            cursor: pointer;
        }
        // 모달창 열기 버튼
        .open-btn{
            border: none;
            background-color: rgba(lightgray, $alpha: 0.8);
            border: 1px solid lightgray;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            z-index: 2;
            display: inline-block;
        
            &:hover{
                background-color: rgba(black, $alpha: 0.3);
            }
        }
        // 위로가기 버튼
        .top{ 
            z-index: 2;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: none;
            background-color: rgba($color: #000000, $alpha: 0.7);
            color: white;
            font-weight: bold;
            position: fixed;
            bottom: 50px;
            right: 50px;
            font-size: 1rem;
        }
    }
    .mode{
        .material-symbols-outlined{
            cursor: pointer;
            font-size: 3rem;
            display: flex;
            align-items: center;
            margin: 10px;
        }
    }
    .mode span:not(.show){
        display: none;
    }
    .mode .dark{
        display: block;
        color: white;
        background: #333;
    }
}

// .container{
//     position: relative;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100vh;
//     // background-color: red;
//     // background-color: rgba($color: #000000, $alpha: 0.5);
//     display: none;
//     z-index: -1;
// }
.modal-window{
    position: fixed;
    // transform: translate(-50%, -50%);
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(3px);
    width: 300px;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    // padding: 20px;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    z-index: 10;
    text-align: center;
    line-height: 30px;
    

    display: none;
    transition: 0.5s;

    overflow: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    #top{
        position: absolute;
        top: -10px;
    }

    .close-btn{
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: rgba($color: #000000, $alpha: 0);
        color: white;
        border: none;
        position: fixed;
        top: 5px;
        right: 15px;
        cursor: pointer;
        z-index: 3;
        text-align: center;
        // padding: 3px;

        // &:hover{
        //     box-shadow: 0 0 0.2rem white;
        // }
    }
    img{
        width: 200px;
        height: 250px;
        margin: auto 130px;
    }
    .top-btn{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #e0e0e0;
        border: none;
        position: sticky;
        left: 450px;
        bottom: 0px;
        z-index: 3;

        a{
            text-decoration: none;
            color: lightcoral;
            font-weight: bold;
        }
    }
}
.dark{
    color: #fff;
    background: #333;
}
.show{
    display: block;
}
.hidden{
    display: none;
}
.scroll-box{
    width: 100%;
    height: 100vh;

    .scroll-container{
        width: 80%;
        height: 300px;
        margin: auto;
        position: relative;
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar{
            display: none;
        }

        .content-box{
            flex: 1 0 auto;
            width: 200px;
            height: 100%;
            background-color: lightgrey;
            color: black;
            border-radius: 5px;
            margin-right: 10px;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover{
                box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
                background-color: rgba($color: #008b8b, $alpha: 0.3);
            }
            .content{
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                h2{
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    line-height: 1.3rem;
                }
                button{
                    background-color: orange;
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    position: absolute;
                    bottom: 20px;
                    width: 120px;
                    height: 30px;
                    border: none;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
            
            .img{
                width: 90%;
                height: 100%;
                overflow: hidden;
                // border-radius: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
.scroll-active{
    transform: scale(1.02);
}
.article{
    // border: 1px solid blue;
    width: 450px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    .cards{
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;

        .details{
            // border: 5px solid white;
            background: white;
            flex: 1 0 auto;
            width: 95%;
            height: 100%;
            margin-right: 10px;
            border-radius: 20px;
            box-shadow: 0 0 0.2rem rgba($color: #000000, $alpha: 0.3);
            display: none;
            text-align: center;
            transition: 0.3s;
            padding: 0 10px;
            img{
                width: 40%;
                margin-top: 0;
            }
            h2{
                margin: 5px 0;
                height: 30px;
            }
            h2 > a{
                color: #008b8b;
                margin: 0;
                font-weight: bold;
                font-size: 1rem;
                line-height: 0.8rem;
            }
            p{
                font-size: 1rem;
                color: darkslategray;
                margin: 5px 0;

                &:nth-of-type(1){
                    font-weight: bold;
                }
                &:nth-of-type(2){
                    font-size: 0.8rem;
                }
                &:nth-of-type(3){
                    line-height: 1.2rem;
                }
            }
            a{
                font-size: 1rem;
                text-decoration: none;
                color: lightgrey;
            }
            .pop-close-btn{
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: none;
                border: none;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                z-index: 3;
                text-align: center;
                // padding: 3px;
                    span{
                        font-size: 1rem;
                    }
        
                &:hover{
                    box-shadow: 0 0 0.2rem white;
                }
            }
        }
    }
}
.pop-modal{
    width: 300px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    position: fixed;
    right: 50px;
    bottom: 150px;
    color: #000000;
    box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
    // display: none;

    &>p{
        text-align: center;
        line-height: 100px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    button{
        cursor: pointer;
        border: none;
        background: none;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.main-content{
    width: 100%;
    // background-color: #333;

    .description-card-container{
        // border: 1px solid red;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card{
            background-color: white;
            margin:5px;
            width: 250px;
            color: #000000;
            box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
            position: relative;

            ul{ 
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 0 5px;

                
                li{
                    margin: 5px 0;
                    text-align: center;
                }
                li.name{
                    font-size: 1rem;
                    font-weight: bold;
                    height: 32px;
                }
                li.brand{
                    color: darkgray;
                }
                li.decription{
                    padding: 0 10px;
                }
                li.product-url button{
                    border: none;
                    background-color: #008b8b;
                    color: #fff;
                    width: 6rem;
                    height: 2rem;
                    cursor: pointer;
                    position: relative;
                    bottom: 5px;
                }
            }
        }
    }
}
@media (max-width:785px){
    .nav{
        h1{
            font-size: 1.5rem;
        }
        .person{
            .avatar{
                width: 30px;
                height: 30px;
            }
            .open-btn{
                width: 60px;
                font-size: 0.8rem;
            }
        }
    }
}
@media (max-width:695px){
    .nav{
        h1{
            font-size: 1.2rem;
        }
    }
}
@media (max-width:480px){
    .nav .menu,
    .nav .person,
    .nav .mode{
        display: none;
    }
    .nav .hambtn{
        display: block;
        border: none;
        background-color: rgba($color: #000000, $alpha: 0);
        width: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;
        span{
            font-size: 2rem;
            margin-top: 5px;
            font-weight: bold;
        }
    }
}


